<li class="page-metadata-day">
  Date: <span class="page-day-date"><%= day.date %></span>, <span class="page-day-num-observations"><%= day.num_observations %></span> observations <span class="edit-day-info-area"><button class="btn btn-xs btn-default edit-day-info-btn" data-id="<%= day.id %>" data-date="<%= day.date %>" data-num-obs="<%= day.num_observations %>"><i class="fa fa-pencil"></i></button><button class="btn btn-xs btn-primary save-day-btn" style="display: none;"><%= t('save') %></button></span>
</li>